<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h2>Iniciar Sesion en la Biblioteca</h2>
            <form [formGroup]="formulario" (ngSubmit)="anadirFormulario()">

                <div class="form-group">
                    <label for="nombre">DNI:</label>
                    <input class="form-control" formControlName="dni" name="dni">
                </div>
                <div *ngIf="formulario.controls['dni'].errors" class="text-danger">
                    El dni es requerido
                </div>

                <div class="form-group">
                    <label for="contrasenia">Contraseña:</label>
                    <input class="form-control" formControlName="contrasenia" name="contrasenia" type="password">
                </div>
                <div *ngIf="formulario.controls['contrasenia'].errors" class="text-danger">
                    La contraseña es requerida
                </div>

                <button class="btn btn-info " type="submit" style="color:white" [disabled]="!formulario.valid">Iniciar Sesion</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
